---
import Layout from "../layouts/Layout.astro";
import { KATAS } from "../core/data/katas";
import { STANCES, STANCES_META } from "../core/data/moves/stance";
import { HAND_MOVES, HAND_MOVES_META } from "../core/data/moves/hand";
---

<Layout title="Shotokan Karate">
  <main class="container">
    <section class="row">
      <h1>Shotokan Karate</h1>

      <p>TODO</p>
    </section>

    <section class="row">
      <div class="col-4">
        <h2>Katas</h2>

        <ul class="unstyled">
          {
            KATAS.map((kata) => (
              <li>
                <a href={`/katas/${kata.slug}`}>{kata.name}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-4">
        <h2>Stances</h2>

        <ul class="unstyled">
          {
            STANCES.map((slug) => (
              <li>
                <a href={`/stances/${slug}`}>{STANCES_META[slug].englishName}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-4">
        <h2>Hand moves</h2>

        <ul class="unstyled">
          {
            HAND_MOVES.map((slug) => (
              <li>
                <a href={`/hands/${slug}`}>{HAND_MOVES_META[slug].englishName}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
