---
import Name from "../components/Name";
import Layout from "../layouts/Layout.astro";
import { FOOT_MOVES, FOOT_MOVES_META, HAND_MOVES, HAND_MOVES_META, KATAS, STANCES, STANCES_META } from "../core/data";
---

<Layout title="Shotokan Karate">
  <main class="container">
    <section class="row">
      <h1>Shotokan Karate</h1>

      <p>TODO</p>
    </section>

    <section class="row">
      <div class="col-4">
        <h2>Katas</h2>

        <ul class="unstyled">
          {
            KATAS.map((kata) => (
              <li>
                <a href={`/kata-trainer/katas/${kata.slug}`}>
                  <Name data={kata} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="row">
      <div class="col-4">
        <h2>Positions</h2>

        <ul class="unstyled">
          {
            STANCES.map((slug) => (
              <li>
                <a href={`/kata-trainer/stances/${slug}`}>
                  <Name data={STANCES_META[slug]} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-4">
        <h2>Mouvements de main</h2>

        <ul class="unstyled">
          {
            HAND_MOVES.map((slug) => (
              <li>
                <a href={`/kata-trainer/hands/${slug}`}>
                  <Name data={HAND_MOVES_META[slug]} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-4">
        <h2>Mouvements de pied</h2>

        <ul class="unstyled">
          {
            FOOT_MOVES.map((slug) => (
              <li>
                <a href={`/kata-trainer/feet/${slug}`}>
                  <Name data={FOOT_MOVES_META[slug]} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
