---
import { chain } from "lodash-es";

import Name from "../../components/Name";
import Wrap from "../../components/Wrap";
import KataDisplay from "../../components/KataDisplay";
import Layout from "../../layouts/Layout.astro";
import {
  type FootMove,
  KATAS,
  KATAS_INDEX,
  type Kata,
  STANCES_META,
  FOOT_MOVES_META,
  HAND_MOVES_META,
  type HandMove,
  type Stance,
} from "../../core/data";

export const getStaticPaths = () => {
  return KATAS.map((kata) => ({
    params: { slug: kata.slug },
  }));
};

const { slug } = Astro.params;
const kata = KATAS_INDEX[slug] as Kata;

const stances = chain(kata.stances)
  .toPairs()
  .sortBy(([_, count]) => -count)
  .map(([stance, count]) => ({
    stance: STANCES_META[stance as Stance],
    count,
  }));
const handMoves = chain(kata.handMoves)
  .toPairs()
  .sortBy(([_, count]) => -count)
  .map(([handMove, count]) => ({
    handMove: HAND_MOVES_META[handMove as HandMove],
    count,
  }));
const footMoves = chain(kata.footMoves)
  .toPairs()
  .sortBy(([_, count]) => -count)
  .map(([footMove, count]) => ({
    footMove: FOOT_MOVES_META[footMove as FootMove],
    count,
  }));
---

<Layout title={`Kata ${kata.romaji}`}>
  <main class="container">
    <div class="my-4">
      <KataDisplay kata={kata} client:load />
    </div>

    <section class="row">
      <h1><Name data={kata} /></h1>

      <p><Wrap content={kata.description} /></p>
    </section>

    <section class="row">
      <div class="col-4">
        <h2>Positions</h2>

        <ul class="unstyled">
          {
            stances.map(({ stance, count }) => (
              <li>
                <a href={`/stances/${stance.slug}`}>
                  <Name data={stance} />
                </a>{" "}
                <span class="text-muted">({count})</span>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-4">
        <h2>Mouvements de main</h2>

        <ul class="unstyled">
          {
            handMoves.map(({ handMove, count }) => (
              <li>
                <a href={`/hands/${handMove.slug}`}>
                  <Name data={handMove} />
                </a>{" "}
                <span class="text-muted">({count})</span>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-4">
        <h2>Mouvements de pied</h2>

        <ul class="unstyled">
          {
            footMoves.map(({ footMove, count }) => (
              <li>
                <a href={`/feet/${footMove.slug}`}>
                  <Name data={footMove} />
                </a>{" "}
                <span class="text-muted">({count})</span>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
